{
  "swagger" : "2.0",
  "info" : {
    "description" : "Creates, Retrieves, and Updates Taco Orders!",
    "version" : "0.0.1",
    "title" : "Taco Tuesday API",
    "contact" : {
      "name" : "Justin Muskopf",
      "url" : "https://justinmuskopf.com",
      "email" : "api@tacotuesdayapi.com"
    }
  },
  "host" : "api.tacotuesdayapi.com:7430",
  "schemes" : [ "http" ],
  "paths" : {
    "/taco-tuesday/v1/employees" : {
      "get" : {
        "operationId" : "getAllEmployees",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/EmployeeResource"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "createEmployee",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/NewEmployeeResource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          }
        }
      },
      "patch" : {
        "operationId" : "updateEmployees",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/EmployeeResource"
              }
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/employees/{slackId}" : {
      "get" : {
        "operationId" : "getEmployeeBySlackId",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "slackId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          }
        }
      },
      "patch" : {
        "operationId" : "updateEmployee",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "slackId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EmployeeResource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/full" : {
      "get" : {
        "operationId" : "getAllFullOrders",
        "parameters" : [ {
          "name" : "slackId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/FullOrderResource"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "createFullOrder",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FullOrderResource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FullOrderResource"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/full/{orderId}" : {
      "get" : {
        "operationId" : "getFullOrderByOrderId",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FullOrderResource"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/individual" : {
      "get" : {
        "operationId" : "getAllIndividualOrders",
        "parameters" : [ {
          "name" : "slackId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/IndividualOrderResource"
              }
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/individual/{orderId}" : {
      "get" : {
        "operationId" : "getIndividualOrderByOrderId",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IndividualOrderResource"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/tacos" : {
      "get" : {
        "operationId" : "getTacoPrices",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TacoResource"
              }
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "EmployeeResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "fullName" : {
          "type" : "string"
        },
        "nickName" : {
          "type" : "string"
        },
        "slackId" : {
          "type" : "string"
        },
        "admin" : {
          "type" : "boolean"
        }
      }
    },
    "FullOrderResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "number",
          "format" : "float"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "barbacoa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "beefFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "cabeza" : {
          "type" : "integer",
          "format" : "int32"
        },
        "carnitas" : {
          "type" : "integer",
          "format" : "int32"
        },
        "chickenFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "lengua" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pastor" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tripa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "individualOrders" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/IndividualOrderResource"
          }
        }
      }
    },
    "IndividualOrderResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "number",
          "format" : "float"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "barbacoa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "beefFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "cabeza" : {
          "type" : "integer",
          "format" : "int32"
        },
        "carnitas" : {
          "type" : "integer",
          "format" : "int32"
        },
        "chickenFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "lengua" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pastor" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tripa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "employee" : {
          "$ref" : "#/definitions/EmployeeResource"
        },
        "fullOrderId" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "NewEmployeeResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "fullName" : {
          "type" : "string"
        },
        "nickName" : {
          "type" : "string"
        },
        "slackId" : {
          "type" : "string"
        },
        "admin" : {
          "type" : "boolean"
        }
      }
    },
    "TacoResource" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "price" : {
          "type" : "number",
          "format" : "float"
        }
      }
    }
  }
}