{
  "swagger" : "2.0",
  "info" : {
    "description" : "Creates, Retrieves, and Updates Taco Orders!",
    "version" : "0.0.1",
    "title" : "Taco Tuesday API",
    "contact" : {
      "name" : "Justin Muskopf",
      "url" : "https://justinmuskopf.com",
      "email" : "api@tacotuesdayapi.com"
    }
  },
  "host" : "api.tacotuesdayapi.com:7430",
  "schemes" : [ "http" ],
  "paths" : {
    "/taco-tuesday/v1/employees" : {
      "get" : {
        "summary" : "Retrieve all Existing Employees",
        "description" : "",
        "operationId" : "getAllEmployees",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved Successfully",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/EmployeeResource"
              }
            }
          },
          "401" : {
            "description" : "Invalid API Key",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Create a new Employee",
        "description" : "",
        "operationId" : "createEmployee",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/NewEmployeeResource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          },
          "201" : {
            "description" : "Employee Created",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          },
          "400" : {
            "description" : "Request Body is Invalid",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      },
      "patch" : {
        "summary" : "Update a Batch of Existing Employees",
        "description" : "",
        "operationId" : "updateEmployees",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/UpdateEmployeeBatchResource"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Updated Successfully",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          },
          "400" : {
            "description" : "Invalid Request Body",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "401" : {
            "description" : "Invalid API Key",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/employees/{slackId}" : {
      "get" : {
        "summary" : "Retrieve an Employee by Slack ID",
        "description" : "",
        "operationId" : "getEmployeeBySlackId",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "slackId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved Successfully",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          },
          "401" : {
            "description" : "Invalid API Key",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "404" : {
            "description" : "No Such Employee Exists",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      },
      "patch" : {
        "summary" : "Update an Existing Employee",
        "description" : "",
        "operationId" : "updateEmployee",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "slackId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateEmployeeResource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Updated Successfully",
            "schema" : {
              "$ref" : "#/definitions/EmployeeResource"
            }
          },
          "400" : {
            "description" : "Invalid Slack ID",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "401" : {
            "description" : "Invalid API Key",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/full" : {
      "get" : {
        "summary" : "Retrieve all Full Orders",
        "description" : "",
        "operationId" : "getAllFullOrders",
        "parameters" : [ {
          "name" : "slackId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved Successfully",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/FullOrderResource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Slack ID Provided",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Create a new Full Order",
        "description" : "",
        "operationId" : "createFullOrder",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FullOrderResource"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FullOrderResource"
            }
          },
          "201" : {
            "description" : "Full Order Created",
            "schema" : {
              "$ref" : "#/definitions/FullOrderResource"
            }
          },
          "400" : {
            "description" : "Invalid Request Body",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "401" : {
            "description" : "Invalid API Key",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/full/{orderId}" : {
      "get" : {
        "summary" : "Retrieve a Full Order by ID",
        "description" : "",
        "operationId" : "getFullOrderByOrderId",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved Successfully",
            "schema" : {
              "$ref" : "#/definitions/FullOrderResource"
            }
          },
          "404" : {
            "description" : "No Such Full Order Exists",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/individual" : {
      "get" : {
        "summary" : "Retrieve all Individual Orders",
        "description" : "",
        "operationId" : "getAllIndividualOrders",
        "parameters" : [ {
          "name" : "slackId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved Successfully",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/IndividualOrderResource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Slack ID Provided",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/orders/individual/{orderId}" : {
      "get" : {
        "summary" : "Retrieve an Individual Order by ID",
        "description" : "",
        "operationId" : "getIndividualOrderByOrderId",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved Successfully",
            "schema" : {
              "$ref" : "#/definitions/IndividualOrder"
            }
          },
          "404" : {
            "description" : "No Such Order Exists",
            "schema" : {
              "$ref" : "#/definitions/IndividualOrder"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      }
    },
    "/taco-tuesday/v1/tacos" : {
      "get" : {
        "summary" : "Retrieve all Taco Types",
        "description" : "",
        "operationId" : "getTacoPrices",
        "responses" : {
          "200" : {
            "description" : "Retrieved Successfully",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/TacoResource"
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/TacoTuesdayExceptionResponse"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "ApiKey" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "updatedAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "employee" : {
          "$ref" : "#/definitions/Employee"
        },
        "key" : {
          "type" : "string"
        }
      }
    },
    "Employee" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "updatedAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "fullName" : {
          "type" : "string"
        },
        "slackId" : {
          "type" : "string"
        },
        "nickName" : {
          "type" : "string"
        },
        "admin" : {
          "type" : "boolean"
        },
        "apiKey" : {
          "$ref" : "#/definitions/ApiKey"
        },
        "orders" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/IndividualOrder"
          }
        }
      }
    },
    "EmployeeResource" : {
      "type" : "object",
      "properties" : {
        "fullName" : {
          "type" : "string"
        },
        "nickName" : {
          "type" : "string"
        },
        "slackId" : {
          "type" : "string"
        },
        "admin" : {
          "type" : "boolean"
        }
      }
    },
    "FieldError" : {
      "type" : "object",
      "properties" : {
        "codes" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "arguments" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        },
        "defaultMessage" : {
          "type" : "string"
        },
        "objectName" : {
          "type" : "string"
        },
        "field" : {
          "type" : "string"
        },
        "rejectedValue" : {
          "type" : "object"
        },
        "bindingFailure" : {
          "type" : "boolean"
        },
        "code" : {
          "type" : "string"
        }
      }
    },
    "FullOrder" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "updatedAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "total" : {
          "type" : "number",
          "format" : "float"
        },
        "barbacoa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "beefFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "cabeza" : {
          "type" : "integer",
          "format" : "int32"
        },
        "carnitas" : {
          "type" : "integer",
          "format" : "int32"
        },
        "chickenFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "lengua" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pastor" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tripa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "individualOrders" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/IndividualOrder"
          }
        }
      }
    },
    "FullOrderResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tacos" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "total" : {
          "type" : "number",
          "format" : "float"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "individualOrders" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/IndividualOrderResource"
          }
        }
      }
    },
    "IndividualOrder" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "updatedAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "total" : {
          "type" : "number",
          "format" : "float"
        },
        "barbacoa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "beefFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "cabeza" : {
          "type" : "integer",
          "format" : "int32"
        },
        "carnitas" : {
          "type" : "integer",
          "format" : "int32"
        },
        "chickenFajita" : {
          "type" : "integer",
          "format" : "int32"
        },
        "lengua" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pastor" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tripa" : {
          "type" : "integer",
          "format" : "int32"
        },
        "fullOrder" : {
          "$ref" : "#/definitions/FullOrder"
        },
        "employee" : {
          "$ref" : "#/definitions/Employee"
        }
      }
    },
    "IndividualOrderResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tacos" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "total" : {
          "type" : "number",
          "format" : "float"
        },
        "createdAt" : {
          "type" : "integer",
          "format" : "int64"
        },
        "employee" : {
          "$ref" : "#/definitions/EmployeeResource"
        },
        "fullOrderId" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "NewEmployeeResource" : {
      "type" : "object",
      "properties" : {
        "fullName" : {
          "type" : "string"
        },
        "nickName" : {
          "type" : "string"
        },
        "slackId" : {
          "type" : "string"
        },
        "admin" : {
          "type" : "boolean"
        }
      }
    },
    "TacoResource" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "price" : {
          "type" : "number",
          "format" : "float"
        }
      }
    },
    "TacoTuesdayExceptionResponse" : {
      "type" : "object",
      "properties" : {
        "errors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "fieldErrors" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/FieldError"
          }
        },
        "occurredAt" : {
          "type" : "string"
        },
        "statusCode" : {
          "type" : "integer",
          "format" : "int32"
        },
        "retryable" : {
          "type" : "boolean"
        }
      }
    },
    "UpdateEmployeeBatchResource" : {
      "type" : "object",
      "properties" : {
        "slackId" : {
          "type" : "string"
        },
        "fullName" : {
          "type" : "string"
        },
        "nickName" : {
          "type" : "string"
        },
        "admin" : {
          "type" : "boolean"
        }
      }
    },
    "UpdateEmployeeResource" : {
      "type" : "object",
      "properties" : {
        "fullName" : {
          "type" : "string"
        },
        "nickName" : {
          "type" : "string"
        },
        "admin" : {
          "type" : "boolean"
        }
      }
    }
  }
}