taco-tuesday.barbacoa-price = 1.39
taco-tuesday.beef-fajita-price = 1.39
taco-tuesday.cabeza-price = 1.50
taco-tuesday.carnitas-price = 1.39
taco-tuesday.chicken-fajita-price = 1.39 
taco-tuesday.lengua-price = 1.62
taco-tuesday.pastor-price = 1.50
taco-tuesday.tripa-price = 1.62

server.port=7430
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mariadb://localhost/taco_tuesday
spring.datasource.username=taco
spring.datasource.password=tuesday
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.data.rest.basePath = /taco-tuesday/v1